{% extends 'base.html' %}
{% load static %}

{% block title %}CryptoCurrently | {{ coin_name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<script src="{% static 'js/coin-app.js' %}" type="text/javascript" defer></script>
<div class="main">
    <p id="back-text" coin-name="{{ coin_name }}">{{ short }}</p>
    <button onclick="history.back()"><img id="back-button" src="{% static 'css/images/left-50.png' %}" alt="Back Button"></button>
    <section class="coin-info">
        <div class="name-desc">
            <h1 id="name">
                {{ coin_name }}
            </h1>
            <img src="{% static 'css/images/vertical-line-50.png' %}" alt="">
            <h4 id="desc">{{ coin_description }}</h4>
        </div>
        <div id="exchange-container">
            <div>
                <div id="conversionRate">{{ conversionRate }}</div>
                <div id="exchange-rate">{{ value }}</div>
                <p id="exchange-currency">{{ short }} / USD</p>
            </div>
            <h3>{{ prev_compound_score }}<span class="percent">%</span></h3>
        </div>
    </section>
    <section class="sentiment-result">
        <h3 id="sentiment-label">Sentiment Analysis Results</h3>
        <div class="sentiment-container">

            <div>
                <h2>{{ positive }}%</h2>
                <p>Positive Sentiments</p>
                <span class="tooltiptext">This shows the score the positive sentiment for this cyptocurrency.</span>
            </div>
            <div>
                <h2>{{ negative }}%</h2>
                <p>Negative Sentiments</p>
                <span class="tooltiptext">This shows the score the negative sentiment for this cyptocurrency.</span>
            </div>
            <div>
                <h2>{{ compound_score }}%</h2>
                <p class="comp-label">Compound Score </p>
                <p>From <span class="prev-compound">{{ prev_compound_score }}</span><span class="percent">%</span></p>
                <span class="tooltiptext">The compound score is the sum of positive, negative & neutral scores which is then normalized between -1, the most extreme negative, and +1, most extreme positive.</span>
            </div>
        </div>
        <hr class="divider">
    </section>
    <section class="sentiment-graphs">
        <div class="graph"><img src="../static/{{graph_folder}}/{{coin_dtm}}" alt="DTM"></div>
        <p class=graph-desc>Graph Description: The Document Term Matrix describes the frequency of terms that occur in a collection of documents or tweets.</p>
        <div class="graph"><img src="../static/{{graph_folder}}/{{coin_ngram}}" alt="n-gram"></div>
        <p class=graph-desc>Graph Description: The N-gram shows the most number of continuous sequences of words in a document.</p>
        <div class="graph"><img src="../static/{{graph_folder}}/{{coin_tfidf}}" alt="tfidf"></div>
        <p class=graph-desc>Graph Description: The Term Frequency-Inverse Document Frequency uses the frequency of words to determine how relevant those words are to a given document.</p>
        <div class="graph"><img src="../static/{{graph_folder}}/{{coin_wordcloud}}" alt="wordcloud"></div>
        <p class=graph-desc>Graph Description: The WordCloud is a visual representation object that shows the most frequent word with bigger and bolder letters, and with different colors</p>
    </div>
<!-- <script src="{% static "js/refresh.js" %}" type="text/javascript" defer></script> -->
{% endblock %}